body{
    background-color: rgb(27, 27, 27);
}

.login-form-container{
    background-color: rgb(46, 46, 46);
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: inline-flex;
    border: 1px rgb(120, 120, 120) solid;
    border-radius: 4px;
    width: 250px;
    height: 300px;
    position: relative;
    left: 500px;
    top: 100px;
}

.sign-up-redirection{
    color: white;
    font-size: 14px;
}

.login-username::placeholder, .login-password::placeholder, .signup-username::placeholder, .signup-password::placeholder{
    text-align: center;
}

.login-form{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    bottom: 15px;
}

.signup-form-container{
    background-color: rgb(46, 46, 46);
    display: inline-flex;
    border: 1px rgb(120, 120, 120) solid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 500px;
    border-radius: 4px;

    position: relative;
    left: 1000px;
    top: 33px;
}

.login-redirection{
    color: white;
    font-size: 14px;
}

.signup-form{
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    bottom: 100px;
}