<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h3 class="logo">
            < KeiDev />
        </h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="/aboutme">About Me</a></li>
                {% if session.get('username') %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <a class="cta" href="#">Hire Me</a>
    </header>
    {% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    {% endblock %}
    {% block content %}

    {% endblock %}
</body>
</html>