{% extends 'base.html' %}
    {% block title %}
        navbar
    {% endblock %}

    {% block content %}
        <section class="login-form-container">
            <div>
                <form action="{{ url_for('sign_in') }}" method="post" class="login-form">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="flash {{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <a href="/signup">No Account?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </section>
    {% endblock %}