<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
            <h2 class="web-name">KeiShop</h2>
            <a href="/home">Home</a>
            <a href="/home">Cart</a>
            <a href="/products">Products</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>
    <div class="product-form-container">
        <form method="post">
        <div class="product-form">
            <h5>
                Create a Product!
            </h5>
            <input type="text" name="name" placeholder="Product Name">
            <input type="text" name="price" placeholder="Product Price">
            <textarea name="description" placeholder="Product Description"></textarea>
            <input type="text" name="image_url" placeholder="Product Image URL">
            <button type="submit">Add Product</button>
        </div>
        </form>
    </div>
</body>
</html>